.garage-list{
  list-style-type: none;
}
.trace-car{
  border-bottom: 2px solid;
  margin-bottom: 10px;
}
.svg-car{
  width:155px;
  height: 75px;
  z-index: 2;
  position: absolute;
  /*transition: 2s;
  margin-left: calc(95% - 155px);*/
}
.flag{
  height:75px;
  width: 75px;
  padding-left: calc(90% - 75px);
  z-index: 1;
}